
#livescore {
  background: url('https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://media.easy-peasy.ai/64d331da-4899-43a5-a01f-7734778a6e3d/7bfe841c-7029-4135-a5e7-edbebe16106f.png')
    no-repeat center center/cover;
  min-height: 100vh;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

.glass-card:hover {
  transform: scale(1.02);
  border-color: rgba(255, 255, 255, 0.3);
}
